    {{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>{{ .Title }}</h1>
                    <h2 class="headline">
                    {{ .Date.Format "January 2, 2006" }}
                    <br>
                    {{ with .Params.tags }}
                    {{ if ge (len .) 1 }}
                        {{ range . }}
                            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    {{ end }}
                    {{ end}}
                    </h2>
                </header>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
            <footer id="post-meta" class="clearfix">
                {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
                        <img class="avatar" src="https://avatars0.githubusercontent.com/u/3683993?v=3&s=466">
                        <div>
                            <span class="dark">{{ .Site.Params.name }}</span>
                            <span>{{ .Site.Params.aboutAuthor }}</span>
                            <span><i class="rc-scout"></i> Want to become a better programmer? <a href="https://www.recurse.com/scout/click?t=710ee58e0b0ad8d9f443f9c9440137f1"> Join the Recurse Center!</a></span>
                        </div>
                    {{ with .Site.Params.twitter }}</a>{{ end }}
                <section id="sharing">
                    {{ partial "share.html" . }}
                </section>
            </footer>

            {{ template "_internal/disqus.html" . }}

            {{ partial "latest-posts.html" . }}
            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
